{% extends "base.html.twig" %}

{% block body %}
    <h1>Pizzas</h1>

    <ul>
        {% for entity in entities %}
            <li>{{ entity }}</li>
        {% endfor %}
    </ul>

    <p>
        <a href="{{ path('app_pizza_new') }}">Add a pizza</a>
    </p>
{% endblock %}

